In [3]:
import pandas as pd

In [11]:
link = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'

In [12]:
pq = pd.read_parquet(link)

In [13]:
len(pq)

46912

In [16]:
pq.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [21]:
pq.shape

(46912, 21)

In [20]:
ti = pq['lpep_pickup_datetime'].count()
ti

np.int64(46912)

In [27]:
november_trips = pq[(pq['lpep_pickup_datetime'] >= '2025-11-01') & (pq['lpep_pickup_datetime'] < '2025-12-01')]

In [29]:
count = len(november_trips)
count

46891

In [30]:
# Number of trips between November and December with a trip distance <= 1 mile.
mask = (
    (pq['lpep_pickup_datetime'] >= '2025-11-01') & 
    (pq['lpep_pickup_datetime'] < '2025-12-01') & 
    (pq['trip_distance'] <= 1)
)

In [32]:
trip_count = len(pq[mask])
trip_count

8007

In [34]:
# Filter for trips less than 100 miles
filtered_pq = pq[pq['trip_distance'] < 100]

In [36]:
daily_max = filtered_pq.groupby(filtered_pq['lpep_pickup_datetime'].dt.date)['trip_distance'].max()

In [38]:
# Find the day with the overall maximum
longest_trip_day = daily_max.idxmax()
longest_distance = daily_max.max()

print(f"The day with the longest trip was {longest_trip_day} with {longest_distance} miles.")

The day with the longest trip was 2025-11-14 with 88.03 miles.

In [39]:
# Filter for only November 18th, 2025
nov_18_data = pq[pq['lpep_pickup_datetime'].dt.date == pd.to_datetime('2025-11-18').date()]

# 3. Group by the Pickup Zone and sum the total_amount
zone_totals = nov_18_data.groupby('PULocationID')['total_amount'].sum()

# 4. Get the zone with the maximum sum
top_zone = zone_totals.idxmax()
top_amount = zone_totals.max()

print(f"Zone ID {top_zone} had the highest total amount: ${top_amount:.2f}")

Zone ID 74 had the highest total amount: $9281.92

In [6]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [8]:
df = pd.read_csv(url)

In [9]:
len(df)

265

In [42]:
df.head(75)

    LocationID        Borough                          Zone service_zone
0            1            EWR                Newark Airport          EWR
1            2         Queens                   Jamaica Bay    Boro Zone
2            3          Bronx       Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan                 Alphabet City  Yellow Zone
4            5  Staten Island                 Arden Heights    Boro Zone
..         ...            ...                           ...          ...
70          71       Brooklyn        East Flatbush/Farragut    Boro Zone
71          72       Brooklyn  East Flatbush/Remsen Village    Boro Zone
72          73         Queens                 East Flushing    Boro Zone
73          74      Manhattan             East Harlem North    Boro Zone
74          75      Manhattan             East Harlem South    Boro Zone

[75 rows x 4 columns]